// $buddy-avatar: 170px;
#buddy-members {
  @include page();
}
#bbmember {
  @include rhythm(1.5);
  // @include clearfix;
}
#members-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $font__heading;
  &>li {
    @include gallery(1 of 2);
    @include susy-breakpoint($tab-l) { @include gallery(1 of 3); };
    @include susy-breakpoint($desk) { @include gallery(1 of 4); };
    position: relative;
    // overflow: visible;
    @include padding-trailer(1.5);
    word-wrap: break-word;
    &:hover { 
      .item-title { visibility: visible; }
      img.avatar { @include opacity(0.15); }
      .nohl img.avatar { @include opacity(1); }
    }
  }
  .item-avatar{
    text-align: center;
    position: relative;
    top: 0;
    img { @include border-radius(50%); }
  }
  .item-title {
    position: absolute;
    top: 30%;
    left: 10px;
    right: 10px;
    visibility: hidden;
    // @include rhythm-padding(2.5);
    color: $color__orange;
    @include adjust-font-size-to(18px);
    @include susy-breakpoint($phone-l) { @include adjust-font-size-to(25px); };
    // @include susy-breakpoint($tab-p) { @include adjust-font-size-to(px); };
  }
  .item {
      margin: 0;
      padding: 0;
    a {
      @include rhythm(0, 2);
      visibility: hidden;
      @include nolink();
    }
  }
}
#register-page {
  border: 7px solid $color__text-hl;
  @include border-radius(1rem);
  background-color: $color__background-hl;
  @include pad(1 of 16);
  @include rhythm-padding(2);
}
.entry-content .members-access-error {
  // @include pad(0);
  // @include squish(0);
}
.member-extra {
  text-align: center;
  span {display: block;}
}
