@import "site-vars";
#page {
  @include container(100%);
    // @include susy-breakpoint($phone-l){
    //   @include container(80%);
    // }
  // height: 100%;
  // min-height: 100%;
  // min-width: 100%;
  // max-width: 100%;
  // margin-bottom: $size__footer-height;
  // position: absolute;
  // display: block;
  // * {max-width: 100%;}
}
.error404 #content {
}
#masthead {
  position: relative;
  background: $color__background-header;
  .site-description-page,  .site-description-page>p { @include adjust-font-size-to(20px, 1.2, 16px); }
}
.site-logo-wrapper {
  @include page-squeeze;
  @include padding-leader(2);
  position: relative;
  .site-logo {
    margin-left: span(-1.5);
    @include susy-breakpoint($phone-l){
      @include span(300px first);
    }
  }
  .site-description-page {
    font-family: $font__heading;
    color: $color__green;
    // @include span(full);
    p {margin: 0;}
    $spacer: 70px;
    @include susy-breakpoint((max-width) ($tab-p)){
      @include full();
    }
    @include susy-breakpoint(($tab-p) ($tab-l)){
      float: left;
      position: relative;
      @include margin-leader(-2);
      left: 65px;
      width: span(12 of 13);
    }
    @include susy-breakpoint($tab-l){
      float: left;
      position: relative;
      @include margin-leader(-2);
      left: 65px;
      width: span(12 of 13);
    }
    @include susy-breakpoint($desk-full) {
      left: 65px;
    };
    // @include span(10.3 of 12 last);
    // @include pad(115px, 0);
    // @include margin-leader(-2.7);
  }
}
#footer-text-right {
  float: left;
}
footer.site-footer {
	@include rhythm-padding(3,2);
  .home-page & {
    @include rhythm-padding(0,2);
  }
  @include band-colors();
  #social-buttons {
    @include padding-leader(0.3);
    @include full();
    @include susy-breakpoint($tab-p) {
      @include span(110px);
    };
  }
  .sl {
    display: inline-block;
    line-height: 45px;
    width: 45px;
    font-size: 25px;
    vertical-align: top;
    font-family: $font__heading;
    color: $color__text-alt;
    font-weight: 500;
    text-align: center;
    @include border-radius(50%);
    background-color: $color__background-button;
    margin: 0 5px 5px 0;
  }
  .site-info { @include span(3 last);}
}
#footer-var {
  @include page-squeeze;
  .home-page & { @include rhythm-padding(2); }
}
footer#colophon-home {
	// background-color: white;
}
#sidebar-footer {
  @include page-band(white);
  color: black;
  @include rhythm-padding(1);
}
// image
.site-logo-wrapper {
	#sitetitle2 {
		@include span(3 of 4 last);	
	}
}
.page .entry-header {
  // display: none;
  background-color: $color__background-band;
}

body.home {
	//Enter details for things only to be found on the home page 
	// #page {position: relative; }
	#masthead {
		left: 0;
		// position: relative;
		top: 0;
		width: 100%;
		z-index: 3;
    background-color:$color__background-header; 
		background: clear;
  } 
	.entry-header {
		background-color: $color__background-header;
		//min-height: 100vh;
	}
	.site-branding {
		text-align: center;
		a {
			@include button();
      @include adjust-font-size-to(1.5em);
      padding: 1.2rem;
		}
	}
}
#primary {
  margin-bottom: $size__footer-height;
  margin-bottom: 0;
  
}

.wpcf7-list-item-label {
  @include testing;
  @include span(1 of 5);
}
#ecostage-pledge-form {
  >* {
      @include page-squeeze;
  }
  .eco-form-list { 
    @include squish(0);
    &>li {
      border-top: 1px solid lightgrey;
      &:first-child {border-top: none;}
      @include clearfix;
      >.inner-pledgepoint-content {
        @include span(4 of 5);
      }
    }
    .wpcf7-submit {
      text-align: center;
    }
    .wpcf7-form-control-wrap {
      // @include leader(1.2);
      @include span(1 of 5 omega)
    }
  }
}

@import "buddy";

// The following piece of code is a mixin to reveal what breakpoint has been triggered
@include size();
