@import "site-vars";
#buddypress {
  @import "buddy";
}
#page {
  // height: 100%;
  min-height: 100%;
  // margin-bottom: $size__footer-height;
  position: absolute;
  // display: block;
}
#masthead {
  position: relative;
  background: $color__background-header;
  .site-description-page,  .site-description-page>p { @include adjust-font-size-to(20px, 1.2, 16px); }
  .site-description-page {
    * {margin: 0};
    font-family: $font__heading;
    color: $color__green;
    @include full;
    @include susy-breakpoint($tab-p){
      // @include span(14 of 16 last);
      @include pad(70px 0 of 16);
      @include margin-leader(-1.7);
    }
  }
}
.site-logo-wrapper {
  @include margin-leader(-0.6);
  @include page;
  @include susy-breakpoint(max-width 900px) {
    @include padding-leader(2);
  }
  .site-logo {
    @include full;
    @include susy-breakpoint($phone-l){
      @include span(400px);
    }
    @include susy-breakpoint($tab-p){
      margin-left: span(-100px);
    }
  }
}
#spage {
	//NB this is the whole page, not the page (body) class
	   @include container($susy);
	// background: $color__background-screen;
};
footer#colophon {
	background-color: $color__background-footer;
	@include page;
	@include rhythm-padding(3,2);
  position: absolute;
  bottom: 0;
  height: $size__footer-height;
	margin-top: -$size__footer-height;
  .social-buttons img {
   @include squish(10px 5px);
  }
  .site-info { @include span(3 of 16 last);}
}
// image
.site-logo-wrapper {
	// @include span(4 of 14);
  // background-color: $color__a-r;
	// .site-logo {
	// 	@include span(1 of 4);
	// }
	#sitetitle2 {
		@include span(3 of 4 last);	
	}
}
#content .band {
  position: relative;
  left: 0;
  right: 0;
  color: $color__text-alt;
  background-color: $color__background-band;
  @include rhythm-padding(0.6);
}
.page .entry-header {
  // display: none;
  background-color: $color__background-band;
}

body.home {
	//Enter details for things only to be found on the home page 
	#masthead {
    // @include rhythm-padding(0,1.5);
    background-color:$color__background-header; 
  } 
	.site-branding {
		text-align: center;
		a {
			@include button();
      @include adjust-font-size-to(1.5em);
      padding: 1.2rem;
		}
	}
	aside.widget {
    @include page();
    @include rhythm(0, 1, 2, 0);
		&:nth-child(2n) { 
      // background-color: $color__background-article-alt; 
		}
		// &:last-child {
		// 	margin-bottom: 0;
		// 	background-color: mix($color__background-article-alt, $color__background-header);
		// 	}
		}
}
#primary {
  margin-bottom: $size__footer-height;
  
}


body.home {
	//Enter details for things only to be found on the home page 
	#page {position: relative; }
	#masthead {
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
		z-index: 3;
		background: clear;
	}
	// #content {position: relative; top: 0;}
	// #primary {position: static; top: 0; }
	.entry-header {
		background-color: $color__background-header;
		//min-height: 100vh;
	}
}
// Page header defaults
.site-branding,	.page .entry-header {
	// @include padding-leader(9);
	// @include padding-trailer(2);
}
// The following piece of code is a mixin to reveal what breakpoint has been triggered
@include size();
