@import "site-vars";
@import "buddy";
#page {
  // height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  // margin-bottom: $size__footer-height;
  position: absolute;
  // display: block;
  * {max-width: 100%;}
}
.error404 #content {
}
.entry-content .members-access-error {
  @include pad(0);
  // @include squish(0);
}
#masthead {
  position: relative;
  background: $color__background-header;
  .site-description-page,  .site-description-page>p { @include adjust-font-size-to(20px, 1.2, 16px); }
  .site-description-page {
    * {margin: 0};
    font-family: $font__heading;
    color: $color__green;
    @include full;
    @include susy-breakpoint($tab-p){
      // @include span(14 of 16 last);
      @include pad(70px 0 of 16);
      @include margin-leader(-1.7);
    }
  }
}
.site-logo-wrapper {
  // @include margin-leader(-0.6);
  @include page;
  @include susy-breakpoint(max-width 900px) {
    @include padding-leader(2);
  }
  .site-logo {
    @include full;
    @include susy-breakpoint($phone-l){
      @include span(400px);
    }
    @include susy-breakpoint($tab-p){
      margin-left: span(-100px);
    }
  }
}
#footer-text-right {
  float: right;
}
footer#colophon-home {
	background-color: white;
	@include container($susy);
	@include rhythm-padding(3,2);
  // position: absolute;
  // bottom: 0;
  // height: $size__footer-height;
	// margin-top: -$size__footer-height;
  .social-buttons {
    @include page;
    img { @include squish(10px 5px); }
  }
  .site-info { @include span(3 of 16 last);}
}
footer#colophon {
	background-color: $color__background-footer;
  &.band { background-color: $color__background-band; }
	@include page;
	@include rhythm-padding(3,2);
  position: absolute;
  bottom: 0;
  height: $size__footer-height;
	margin-top: -$size__footer-height;
  .social-buttons img {
   @include squish(10px 5px);
  }
  .site-info { @include span(3 of 16 last);}
}
#sidebar-footer {
  @include rhythm-padding(1);
  @include page();
}
// image
.site-logo-wrapper {
	#sitetitle2 {
		@include span(3 of 4 last);	
	}
}
.band {
  position: relative;
  left: 0;
  right: 0;
  color: $color__text-alt;
  background-color: $color__background-band;
  @include rhythm-padding(0.6);
  color: $color__text_alt;

}
.page .entry-header {
  // display: none;
  background-color: $color__background-band;
}

body.home {
	//Enter details for things only to be found on the home page 
	#page {position: relative; }
	#masthead {
		left: 0;
		position: relative;
		top: 0;
		width: 100%;
		z-index: 3;
    background-color:$color__background-header; 
		background: clear;
  } 
	.entry-header {
		background-color: $color__background-header;
		//min-height: 100vh;
	}
	.site-branding {
		text-align: center;
		a {
			@include button();
      @include adjust-font-size-to(1.5em);
      padding: 1.2rem;
		}
	}
}
#primary {
  margin-bottom: $size__footer-height;
  .home-page & {
    margin-bottom: 0;
  }
  
}

.wpcf7-list-item-label {
  @include testing;
  @include span(1 of 5);
}
#ecostage-pledge-form {
  // border: 1px solid red;
  .eco-form-list { 
    @include container(5);
    &>li {
      border-top: 1px solid lightgrey;
      &:first-child {border-top: none;}
      @include clearfix;
      >.inner-pledgepoint-content {
        @include span(4 of 5);
      }
    }
    .wpcf7-form-control-wrap {
      // @include leader(1.2);
      @include span(1 of 5 omega)
    }
  }
}


// The following piece of code is a mixin to reveal what breakpoint has been triggered
@include size();
