

h1, h2, h3, h4, h5, h6 {
	font-family: $font__heading;
  font-weight: 400;
	clear: both;
}

// @for $i from 1 through 5 {
//   h#{$i} { @include adjust-font-size-to($font__size-$i); }
// }
h1 { 
  @include adjust-font-size-to($font__size-h1, 1.5);
}
h2 { @include adjust-font-size-to($font__size-h2, 1.5) }
h3 { @include adjust-font-size-to($font__size-h3) }
h4 { @include adjust-font-size-to($font__size-h4) }
h5 { @include adjust-font-size-to($font__size-h5) }
.entry-content {
  p {
    @include rhythm-margins(0.3, 0.7)
  }
  h3, h2, h1 {
    // font-weight: 500;
    // color: $color__orange;
    @include rhythm-margins(0.3, 0.1)
  }
}
h1.site-title {
	@include adjust-font-size-to(45px);
	@include rhythm-margins(0);
}
.entry-header .entry-title, .excerpt, .site-call {
	@include pad(1);
	@include adjust-font-size-to(40px);
  @include rhythm(0, 1,1,0);
	font-family: $font__heading;
	color: $color__text_alt;
	text-align: center;
	// text-transform: capitalize;
}
header#masthead {
	.site-title, .site-description {
		a {@extend .site-description; text-decoration: none;}
		color: $color__text_alt;
		
	}
}
.collapseomatic, .hilight, .hl {
  color: $color__text-hl;
}
#secondary .widget-title {
  @include adjust-font-size-to(30px);
}
