

h1, h2, h3, h4, h5, h6 {
	font-family: $font__heading;
  font-weight: 300;
	clear: both;
}
h1.site-title {
	@include adjust-font-size-to(45px);
	@include rhythm-margins(0);
}
h2.site-description {
	@include adjust-font-size-to(18px);
	@include rhythm-margins(0);
}
.entry-header .entry-title, .excerpt, .site-call {
	@include pad(1);
	@include adjust-font-size-to(40px);
  @include rhythm(0, 1,1,0);
	font-family: $font__heading;
	color: $color__text_alt;
	text-align: center;
	// text-transform: capitalize;
}
header#masthead {
	.site-title, .site-description {
		a {@extend .site-description; text-decoration: none;}
		color: $color__text_alt;
		
	}
}
#secondary .widget-title {
  @include adjust-font-size-to(30px);
}
