@include establish-baseline($font-size);


body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include adjust-font-size-to($font-size);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

#colophon {
  @include adjust-font-size-to(10px);
  color: $color__text_alt;
  a:link { 
    color: $color__text_alt;
    @include nolink;
  }
}
