@include establish-baseline($font__size);
$rhythm-unit: "rem";


body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
  font-weight: 400;
	@include adjust-font-size-to($font__size);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

.site-footer {
  @include adjust-font-size-to(12px);
}
