.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
#sidebar-footer {
  @include page;
  @include susy-breakpoint(max-width $tab-p) {
    @include pad(1 of 8);
    box-sizing: border-box;
  }
}
.widget_image_text_widget { 
  @include susy-breakpoint(max-width $tab-p) {
    @include gallery(1 of 3 0.4);
  }
  @include susy-breakpoint(min-width $tab-p) {
    @include gallery(1 of 5 0.4);
  }
}
