@include web-fonts(("Fira Sans":"500"));


h1, h2, h3, h4, h5, h6 {
	font-family: "Fira Sans";
	clear: both;
}
h1.site-title {
	@include adjust-font-size-to(1.5em);
}
.excerpt p, h2.site-description {
	@include adjust-font-size-to(2.5rem);
	text-align: center;
	text-transform: capitalize;
}
header#masthead {
	.site-title, .site-description {
		a {@extend .site-description; text-decoration: none;}
		color: $color__text_alt;
		
	}
}
