// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin page {
	@include span(16);
	position: relative;
	padding-left: span(1 of 16);
	padding-right: span(1 of 16);
}
@mixin navtabs($corner) {
	ul li {
		@include border-radius($corner);
	}
}
@mixin nolink() {
	text-decoration: none;
	padding: 20px;
	background-color: clear !important; 
}
@mixin button($butcol: $color__background-menu-item) {
	@include contrasted($butcol);
	&:hover {@include contrasted(adjust-lightness($butcol, 20));}
	@include adjust-font-size-to(1.5em);
	@include nolink;
	@include border-radius(2em);
}

