@import "site-vars";

#page {
	//NB this is the whole page, not the page (body) class
	@include container($susy);
	background: $color__background-screen;
};
footer#colophon {
	background-color: $color__background-header;
	@include page;
}
// image
.site-logo-wrapper {
	@include span(4 of 14);
	.site-logo {
		@include span(1 of 4);
	}
	#sitetitle2 {
		@include span(3 of 4 last);	
	}
}
body.home {
	//Enter details for things only to be found on the home page 
	#masthead { min-height: 100vh; background-color:$color__background-header; }
	.site-description { 
		@include rhythm-padding(1.5);
	}
	.site-branding {
		text-align: center;
		a {
			@include button();
		}
	}
}
body.page {
	//Enter details for things only to be found on the home page 
	#page {position: relative;}
	#masthead {
		position: absolute;
		top:0;
	}
	.entry-header {
//		@include page;
		height: 100vh; 
		background-color: $color__background-body;
	}
}
