@import "site-vars";

body.page #page {
	position: relative;
	header#masthead { position: absolute; z-index:1; background: none; height: rhythm(4)}
	.entry-header {@include page; height: 100vh; @include padding-leader(4); background-color: $color__background-body; }
}
.home {
	header#masthead {
		min-height: 100vh;
	}
	.site-branding {
		padding-top: rhythm(6);
		text-align: center;
		a {
			@include button();
			padding: 0 auto;
		}
	}
}
#page {
	@include container($susy);
	background: $color__background-screen;
};
header#masthead, footer#colophon {
	background-color: $color__background-header;
	@include page;
}
// image
.site-logo-wrapper {
//	display: inline;
	@include span(5 of 16 nest);
	.site-logo {
		@include span(1 of 5);
	}
	#sitetitle2 {
		@include span(4 of 5 last);	
	}
}
