@import "../../../../bower_components/breakpoint/breakpoint/breakpoint";
@import "../../../../bower_components/susy/sass/susy";

//@import "susy";
//@import "breakpoint";
@include susy;
#page {
	@include container();
};
#content {
	padding-left: auto;
	padding-right: auto;
	background-color: white;
}
