html {
	box-sizing: border-box;
}
.clearfix {
  @include clearfix();
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
// Page Bands
.band {
  @include page-band();
}

.wpcf7-form>* {
  @include page();
  li {
    // display: inline-block;
  }
}

// Contact form 7 form
.eco-form-list{
  &>li {
    list-style: none;
  }
}
.ecocheckbox {
  input[type=checkbox] {
    visibility: hidden;
  }
  input[type=checkbox] + .wpcf7-list-item-label {
    visibility: hidden;
    &:before {
      @include adjust-font-size-to(150px);
      @include pad(3rem 0);
      visibility: visible;
      color: #ccc;
      font-style: italic;
      content: '';
      @include span(200px);
      height: 200px;
      background-image: url("img/ecocheckbox.svg");
    }
  } 
  input[type=checkbox]:checked + .wpcf7-list-item-label {
    &:before {
      font-family: 'FontAwesome';
      visibility: visible;
      color: $color__text-hl;
      font-style: normal;
      content: '\f00c';
    }
  } 
  // input+.wpcf7-list-item-label {
  //   &:before {
  //   }
  // }
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";
