ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.pledge-points>li {
  @include leader(1.2);
}

#ecostage-pledge-form {
  ol {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  ol > li {
    counter-increment: customlistcounter;
  }

  ol > li:before {
    content: counter(customlistcounter) " ) ";
    // float: left;
    // width: 3em;
  }

  ol:first-child {
    counter-reset: customlistcounter;
  }
}
// ol li:before {
//   content: counter(level1) " "; /*Instead of ". " */
//   counter-increment: level1;
// }
