// Site Colour Scheme
$color__ecoblue: #0095DD;
$color__ecoblue-d: #4EABF0;
$color__8th-light: #DFD4B8;
$color__8th-red: #C70B26;
$color__8th-b1: #417393;
$color__8th-b2: #254568;
$color__8th-b3: #1C1936;
$color__8th-be: $color__ecoblue;

//alice colours
$color__green1: #2E2E2C;
$color__green2: #186263;
$color__green3: #149C8E;
$color__green4: #9ED2BD;
$color__green5: #D3EADD;
$color__a-r: #E0542E;
$color__a-y: #FCEA22;

$color-list: #2e2e2c #186263 #149c8e #9ed2bd #d3eadd #e0542e #fcea22;

@each $current-color in $color-list {
    $i: index($color-list, $current-color);
    .color-#{$i} { 
        background-color: $current-color;
    }
}


$color__background-body: $color__green1;
$color__background-article-alt: $color__green4;
$color__background-screen: $color__green5;
$color__background-header: $color__green2;
$color__background-footer: $color__green1;
$color__background-hr: #ccc;
$color__background-button: $color__a-r; //#e6e6e6;
$color__background-button-hover: $color__a-y; //#e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-menu: $color__a-y;
$color__background-menu-item: $color__green3;
$color__background-menu-hover: $color__8th-red;
$color__background-menu-select: $color__background-header;


$color__text-screen: $color__green1;
$color__text-alt: $color__green5;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;
$color__text-menu: white;

$color__border-button: $color__green5; // #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
