// Site Colour Scheme
$color__ecoblue: #0095DD;
$color__ecoblue-d: #4EABF0;
$color__8th-light: #DFD4B8;
$color__8th-red: #C70B26;
$color__8th-b1: #417393;
$color__8th-b2: #254568;
$color__8th-b3: #1C1936;
$color__8th-be: $color__ecoblue;

//alice colours
$color__a-r: #E0542E;
$color__a-y: #FCEA22;
$color__green: #0B5453;

// Third revision of colours
$color__orange: #F96B24;
$color__black: #3A3A3A;

$color-list: #2e2e2c #186263 #149c8e #9ed2bd #d3eadd #e0542e #fcea22;

@each $current-color in $color-list {
    $i: index($color-list, $current-color);
    .color-#{$i} { 
        background-color: $current-color;
    }
}


$color__background-body: white;
$color__background-band: $color__black;
$color__background-screen: white;
$color__background-hl: lighten($color__orange, 60);
$color__background-header: light-grey;
$color__background-footer: $color__black;
$color__background-hr: #ccc;
$color__background-button: $color__orange; // $color__a-r;
$color__background-button-hover: $color__a-y; //#e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-menu: none;
$color__background-menu-mobile: black;
$color__background-menu-item: $color__orange;
$color__background-menu-hover: $color__a-y;
$color__background-menu-select: $color__background-header;


$color__text-screen: black;
$color__text-main: black;
$color__text-alt: white;
$color__text-hl: $color__orange;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__orange;
$color__link-visited: $color__orange;
$color__link-hover: lighten($color__orange, 40);
$color__link-band: lighten($color__green, 20);
$color__link-hover: lighten($color__green, 40);
$color__link-band-visited: lighten($color__green, 40);
$color__text-menu: white;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
