@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

$yantramanav: web-fonts-url(("Yantramanav": ("light 300", "normal 400")));
@import url($yantramanav);
.band {font-weight: 300;}

$droidsans: web-fonts-url("Droid Sans");
@import url($droidsans);
$firasans: web-fonts-url(("Fira Sans": ("light 300", "Medium 500")));
@import url($firasans);
// $josefinsans: web-fonts-url(("Josefin Sans":  ("Light 300", "Normal 400")));
// @import url($josefinsans);

$font__main: "Yantramanav", sans-serif;
$font__heading: "Fira Sans", Impact, Charcoal, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__size: 16px;
$font__size-menu : 14px;
$font__size-p : 18px;
$font__size-h5 : 16px;
$font__size-h4 : 18px;
$font__size-h3 : 20px;
$font__size-h2 : 24px;
$font__size-h1 : 26px;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
