a {
	color: $color__link;
  font-style: normal;
  // font-weight: bold;
  text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
    text-decoration: underline;
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.site-footer {
  &.band a { 
    color: $color__text_alt !important;
    @include nolink;
  }
}
.band a {
	color: $color__link-band;

	&:visited {
		color: $color__link-band-visited;
	}
	&:hover,
	&:focus,
	&:active {
    text-decoration: underline;
		color: $color__link-band-hover;
	}
}
.collapseomatic {
  // @include leader(1,16px, padding);
  @include adjust-font-size-to($font__size-p);
}
