a {
	color: $color__link;
  font-style: normal;
  // font-weight: bold;
  text-decoration: none;
  // border-bottom: 1px dotted $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
    text-decoration: underline;
		// color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.band a {
	color: lighten($color__link, 20);
	&:visited {
		color: lighten($color__link-visited, 15);
	}
}
.collapseomatic {
  // @include leader(1,16px, padding);
  @include adjust-font-size-to($font__size-p);
}
