.sticky {
	display: block;
}

.hentry {
	// margin: 0 0 1.5em;
  margin: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.entry-content {
  &>p, &>h1, &>h2, &>h3, &>h4, &>h5, &>h6, &>ul, &>div {
    @include page-squeeze();
  }
  .band {
    @include page-band;
  }
  &>.wpcf7 {
    @include full;
    @include pad(0);
  }
}
.entry-header {
	@include page;
}


.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
